<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>TalkTap- Translate speech and text to sign language</title>
    <!--- Link to the last version of BabylonJS --->
    <script src="js/babylon.js"></script>
    <script src="js/babylonjs.loaders.min.js"></script>
    <script src="js/vue.min.js"></script>

    <style>

        #sender {
            display: flex;
            background: #fff;
            position: absolute;
            bottom: 10px;
            padding: .3em;
            width: 97%;
            border: 2px;
            margin: 1em;
            border-radius: 24px;
            border: 1px solid #dfe1e5;
        }

        .inputBtn {
            margin-right: .3em;
            flex:.3;
            border: none;
            outline:none;
            letter-spacing: 1px;
            font-size: larger;
            font-weight: 600;
            padding: 12px 18px;
            font-size: 16px;
            text-transform: uppercase;
             cursor: pointer;
            color: #fbbb04;
            background-color: #2196f3;
            box-shadow: 0 0 4px #999;
            border-radius: 24px;
        }

        .ripple {
            background-position: center;
             transition: background 0.8s;
            }
         .ripple:hover {
             background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
            }
          .ripple:active {
              background-color: #6eb9f7;
              background-size: 100%;
              transition: background 0s;
            }

        #inputTxt {
            flex: 2.5;
            padding: .1em .5em;
            color: rgba(0,0,0,.87);
            border-radius: 24px;
            background: transparent;
            height: 34px;
            font-size: larger;
            font-weight: 400;
            outline: none;
            word-wrap: break-word;
            border:none;
            line-height: 34px;
        }

        #speedTxt {
            border-radius: .4em;
            margin: 1em;
            padding: .3em;
            background-color: #FFFFFF10;
            display: flex;
             z-index: 100;
            position: fixed;
        }
        html, body {
            display: inline-flex;
            overflow: hidden;
            width   : 100%;
            height  : 100%;
            margin  : 0;
            padding : 0;
        }

        #renderCanvas {
            width   : 100%;
            height  : 100%;
        }
        h5 {
            margin: 0;
        }
        span {
            margin:  .2em;
            color: aliceblue;
        }

        .current {
            color: #fbbb04;
        }
    </style>
</head>
<body >

<div id="app">
<div id="speedTxt">
        <h5 v-for="(todo, index) in todos" :key="todo+index">
            <span
                    :class="{ current: todo+index === word+currentIndex }">{{ todo }} </span>
        </h5>
</div>

<div id="sender">
    <input id="inputTxt" v-on:keyup.enter="translate" v-model.trim="text"  placeholder="Type a message" type="text"/>
    <input  @click="translate" class="inputBtn ripple" type="button" value="Translate"/>
    <input  @click="speed" class="inputBtn ripple" type="button" :value="'Speed X'+ speedmtr" />
</div>
</div>
<canvas id="renderCanvas"></canvas>


<script>
var app = new Vue({
  el: '#app',
  data: {
     color: '#673AB7',
     word: null,
    todos: null,
    text: null,
    currentIndex: null,
    speedmtr: 1
  },
  methods: {
        translate: () => {
            recurPlay(app.$data.text);
        },
        speed: () => {
            if (app.$data.speedmtr === 2) {
                leadMesh.animationTimeScale = 0.5;
                app.$data.speedmtr = 0.5;
            } else {
                app.$data.speedmtr += 0.5;
                leadMesh.animationTimeScale = app.$data.speedmtr;
            }

        }
  }
})

// <!--app.$data.todos=[-->
//       <!--{ text: 'Learn ' },-->
//       <!--{ text: 'Learn' },-->
//       <!--{ text: 'Buildg awesome' }-->
//     <!--]-->
var lead = null;
var leadMesh = null;
var canvas = document.getElementById('renderCanvas');
var engine = new BABYLON.Engine(canvas, true);
engine.loadingUIBackgroundColor = "#33334c";

var createScene = function () {
var scene = new BABYLON.Scene(engine);
BABYLON.SceneLoader.ShowLoadingScreen = true;

//Adding a light
var light = new BABYLON.HemisphericLight("HemiLight", new BABYLON.Vector3(0, 0.5, 0), scene);
var ligh = new BABYLON.DirectionalLight("dirLight", new BABYLON.Vector3(0, -1, 0), scene);
ligh.position = new BABYLON.Vector3(0, -1, 0);

//Adding an Arc Rotate Camera,
var camera = new BABYLON.ArcRotateCamera("Camera",Math.PI / 2, 1.6, 7.6, BABYLON.Vector3.Zero(), scene);
camera.setPosition(new BABYLON.Vector3(Math.PI , 0, 0))
camera.attachControl(canvas, true);

// The first parameter can be used to specify which mesh to import. Here we import all meshes
lead = BABYLON.SceneLoader.Append("https://talktap.netlify.com/models/gltf/", "charles.glb", scene, function (newMeshes, particleSystems, skeletons) {
    scene.activeCamera = null;  
    console.log(skeletons);
    // lead.compileMaterials = true;    
    lead.compileShadowGenerators = true;
    lead.animationStartMode = BABYLON.GLTFLoaderAnimationStartMode.NONE;
    leadMesh = newMeshes;
    // leadMesh.animationTimeScale = .5;
    leadMesh.lights[0].intensity = 20;
    scene.createDefaultCameraOrLight(true);
    scene.activeCamera.attachControl(canvas, true);
    // scene.stopAllAnimations()





    //Environment

	// var helper = scene.createDefaultEnvironment({
			// skyboxSize: 1000,
			// groundShadowLevel: 0.6,
		// });



    console.log(lead);

    //Make her face the camera
    scene.activeCamera.alpha = Math.PI/2;
    scene.activeCamera.upperBetaLimit = Math.PI/2;
    scene.activeCamera.lowerBetaLimit =  Math.PI/2 ;
    scene.activeCamera.lowerRadiusLimit = Math.PI/2* .9;
    scene.activeCamera.upperRadiusLimit = Math.PI/2* 1;
    scene.activeCamera.targetScreenOffset = {x: 0, y: -0.3}

    scene.activeCamera.inertialBetaOffset = 2;
    console.log(scene.activeCamera);

    //Animation
    scene.animationGroups[0].play(false);



    });
        return scene;
    }
var c = null, d = null;
var m = 0;
var l, k=0, r = null;

    var div = document.getElementById('speedTxt');

 function playSpeed (num) {
    leadMesh.animationTimeScale = parseFloat(num);
    }

    //Recursive checks
    function recurCheck () {
        if ( m < c.length - 1) {
                // if TODO for DUPLICATES
                 recurPlayCall();
            } else {
                app.$data.word= null;
                app.$data.todos = null;
                m = 0;
                return;
            }
    }

//Recursive function to be call
function recurPlayCall () {

    if (!scene.getAnimationGroupByName(c[m+1]) ) {
        m += 1;
        console.log("space " +m +  c[m] + m );
        app.$data.word=d[++k];
        app.$data.currentIndex = k;
        recurCheck
    } 
        scene.getAnimationGroupByName(c[++m]).play();
        scene.getAnimationGroupByName(c[m]).onAnimationGroupEndObservable.addOnce(() => {
            recurCheck();
        });
    
}

// Function that calls the recursive function
function recurPlay (arr) {
    arr = arr.replace("[^a-zA-Z1-9]\s","");
    c = arr.toLowerCase().split("");
    d = arr.split(" ");
    app.$data.todos = d
    app.$data.word=d[k];
    app.$data.currentIndex=k;
    scene.getAnimationGroupByName(arr[m]).play();
    scene.getAnimationGroupByName(arr[m]).onAnimationGroupEndObservable.addOnce(() => {
        // recurPlayCall();
        setTimeout(recurPlayCall, 200);
    });
}


// function playAll (animationArray) {
//     m =0;
//     c = animationArray;
//     scene.getAnimationGroupByName(animationArray[m]).play();
//     scene.getAnimationGroupByName(animationArray[m]).onAnimationGroupEndObservable.addOnce(() => {
//         // recurPlayCall();
//         setTimeout(recurPlayCall, 100);
//     });
// }

    function playSome( name ){
        scene.getAnimationGroupByName(name).play();
    }

    
    // function playAnimation( name ){
    //     var anim = scene.animationGroups[name[0]];
    //     anim.play();
    //     for ( var l = 1; l < name.length-1; l++) {
    //         setTimeout(async () => {
    //             anim = scene.animationGroups[l];
    //             anim.play();
    //             console.log("before");
    //         }, anim.to * 1000);
    //         console.log("after");
    //         }
    // }

    var scene = createScene();
    engine.runRenderLoop(() => {
         scene.render();
        });

     window.addEventListener('resize', () => {
         engine.resize();
         });
</script>
</body>
</html>